html {
  scroll-behavior: smooth;
}

/*text style*/
@font-face {
    font-family: 'Bruney';
    src: url('../Bruney-Font/Bruney.woff') format('woff');
    src: url('../Bruney-Font/Bruney.ttf') format('truetype');
}
h1 {color: rgb(0, 0, 0);
    text-align:center;
    font-size: 50px;
    font-family: 'Bruney', Fallback, serif;
    background-color: #f4f3ef; 
    width: 100%;
    margin: 0;
}

a {color: rgb(0, 0, 0);
    text-align:center;
    padding-inline: 7%;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;                                    
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

/*nav bar*/
.navbar {
  background-color: rgb(196, 175, 148);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*this is the slideshow css*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

body {
    margin: 0px;
  }

/*this is for the description paragraph*/
p {color: rgb(0, 0, 0);
    text-align:center;
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

/*this is for the button*/
button {
  background-color: rgb(132, 127, 114);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-family: 'Cormorant SC', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gamemodes {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 150px;
  overflow: hidden;
}

.wrapper .carousel {
display: grid;
grid-auto-flow: column;
gap: 150px;
overflow: hidden;
}

.carousel .card {
  height: 342px;
  list-style: none;
  background:rgb(164, 151, 134);
  border-radius: 8px;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

.card .img img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  align-items: center;
  justify-self: center;
  display: flex;
  text-align: center;
}