html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
}
  
  /*text style*/
  @font-face {
      font-family: 'Bruney';
      src: url('../Bruney-Font/Bruney.woff') format('woff');
      src: url('../Bruney-Font/Bruney.ttf') format('truetype');
  }
  h1 {color: rgb(0, 0, 0);
      text-align:center;
      font-size: 50px;
      font-family: 'Bruney', Fallback, serif;
      background-color: #f4f3ef; 
      margin: 0;
      padding: 15px;
  }
  
  .navbar a {color: rgb(0, 0, 0);
      text-align:center;
      padding-inline: 7%;
      font-family: 'Cormorant SC', serif;
      font-weight: bold;                                    
  }
  
  header {
    position: fixed;
    z-index: 2;
    width: 100vw;
  }
  
  /*nav bar*/
  .navbar {
    background-color: rgb(196, 175, 148);
    padding-top: 20px;
    padding-bottom: 20px;
  }

#play {
    padding-top: 240px;
    text-align: center;
    align-items: center;
}

button {
    background-color: rgb(132, 127, 114);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
    font-family: 'Cormorant SC', serif;
    border-radius: 10px;
    font-weight: bold;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {color: rgb(0, 0, 0);
    text-align:center;
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

#featuredbooks {
  text-align: left;
  align-items: center;
  font-size: 12px;
  display: inline-block;
  background-color: rgb(196, 175, 148);
  padding: 5px;
  padding-right: 15px;
  border-radius: 0 10px 0 0;
  color: black;
}

#featuredbooks a {
  color: black;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 1259px){
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }
  
  .dropbtn {
    background-color: rgb(196, 175, 148);
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(196, 175, 148);
    width: 100vw;
    z-index: 1;
    text-align: center;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: rgb(203, 163, 110);}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: rgb(203, 163, 110);}

  button {
    width: 90vw;
  }

  #featuredbooks {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
  }
}