html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

/*text style*/
@font-face {
    font-family: 'Bruney';
    src: url('../Bruney-Font/Bruney.woff') format('woff');
    src: url('../Bruney-Font/Bruney.ttf') format('truetype');
}
h1 {color: rgb(0, 0, 0);
    text-align:center;
    font-size: 50px;
    font-family: 'Bruney', Fallback, serif;
    background-color: #f4f3ef; 
    margin: 0;
    padding: 15px;
}

  /*this is the css for the lottie*/
  .animation-center{  display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
   }
  
  .loading-text{
      display: block;
      margin: 0 auto;
      text-align: center;
      color: black;
      top: -50px;
      position: relative;
      font-style: italic;
  }

  #mainpage {
    display: none;
    text-align: center;
  }

.navbar a {color: rgb(0, 0, 0);
    text-align:center;
    padding-inline: 7%;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;                                    
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

/*nav bar*/
.navbar {
  background-color: rgb(196, 175, 148);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#quiz {
padding-top: 200px;
padding-bottom: 100px;
text-align: center;
}

.point {
gap: 10px;
}

.grid {
display: flex; 
flex-wrap: wrap;
justify-content: center;
gap: 150px;
padding-bottom: 50px;
}

.flex { 
display:flex;
text-align: center;
justify-content: center;
}

.field {
min-width: 200px;
min-height: 30px;
margin: 10px;
}

button {
height: 60px;
width: 250px;
outline: none;
background: rgb(135, 131, 121);
border: black solid 2px;
border-radius: 10px;
font-family: 'Cormorant SC', serif;
font-weight: bold;
}

button:active {
background: rgb(119, 113, 98);
}

button:hover {
opacity: 0.8;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 1259px){
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }
  
  .dropbtn {
    background-color: rgb(196, 175, 148);
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(196, 175, 148);
    width: 100vw;
    z-index: 1;
    text-align: center;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: rgb(203, 163, 110);}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: rgb(203, 163, 110);}

  button {
    width: 90vw;
  }

  .grid {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
  }
}