html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

/*text style*/
@font-face {
    font-family: 'Bruney';
    src: url('../Bruney-Font/Bruney.woff') format('woff');
    src: url('../Bruney-Font/Bruney.ttf') format('truetype');
}
h1 {color: rgb(0, 0, 0);
    text-align:center;
    font-size: 50px;
    font-family: 'Bruney', Fallback, serif;
    background-color: #f4f3ef; 
    margin: 0;
    padding: 15px;
}

.navbar a {color: rgb(0, 0, 0);
    text-align:center;
    padding-inline: 7%;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;                                    
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

/*nav bar*/
.navbar {
  background-color: rgb(196, 175, 148);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#quiz {
padding-top: 200px;
padding-bottom: 100px;
text-align: center;
}

.grid {
display: flex; 
flex-wrap: wrap;
justify-content: center;
gap: 150px;
padding-bottom: 50px;
}

.flex { 
display:flex;
text-align: center;
}

.field {
min-width: 200px;
min-height: 30px;
margin: 10px;
}

.qn {
  text-align: center;
}

button {
height: 60px;
width: 250px;
outline: none;
background: white;
border: black solid 2px;
border-radius: 10px;
}

button:active {
background: rgb(110, 102, 84);
}